.formMoviments {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;
}

.buttonCreate {
    margin-top: 40rem;
    width: 30%;
    height: 4rem;
}


.listItemMoviment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.boxList {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.boxColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem
}